<footer>
    <ul>
        <li role="listitem"><small>Special thanks to <a href="https://www.amcharts.com/">amCharts</a> for the weather .svg files</small></li>
        <li role="listitem"><small><a href="https://www.freepik.com/vectors/web">Web vector created by stories - www.freepik.com</a></small></li>
        <li role="listitem"><small>Copyright ©<span id="currentYear"></span>, <span id="currentUrl"></span>. All rights reserved.</small></li>
    </ul>    
</footer>