<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Tyler Adam Martinez's Portfolio Website">
<meta name="keywords" content="Tyler Adam Martinez, tyler adam martinez, tyler martinez, tyler martinez wiki, tyler wiki, tyler adam wiki" >
<meta name="robots" content="index, follow">
<link rel="canonical" href="https://www.tyler.wiki"/>
<title>Tyler Adam Martinez</title>
<link rel="shortcut icon" type="image/svg" href="assets/favicon.svg"/>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<script src="/js/topBar.js" defer></script>
<script src="/js/footer.js" defer></script>