<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Tyler Adam Martinez's Portfolio Website">
<title>Tyler Adam Martinez</title>
<link rel="shortcut icon" type="image/svg" href="/favicon.svg"/>
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

<script type="module" src="/js/topBar.js" defer></script>
<script type="module" src="/js/Github_Request.js"></script>
